html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .footer {
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
  }
  